.features {
	display: inline-block;
	width: 100%;
}

.ul-features {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
}

.li-features {
	padding: 25px;
	margin-right: 8%;
	color: #676767;
	padding-left: 40px;
	padding-top: 3px;
	background: url('../../public/images/ic_check.png') no-repeat left top;

}
