.testimonials{
	background: #ffbc35;
	padding: 5%;
}

.description{
	margin: 2rem;
	font-size: 20px;
	line-height: 1.25;
}

.author{
	font-size: 18px;
	font-style: italic;
	margin-bottom:0.5%;
}

.carousel-control-next, .carousel-control-prev {
	width: 0;
}