.title-why{
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-weight: bold;
	color: $color-secundary;
	margin: 0 0 40px;
}

.ul-why {
	padding-right: 40px;
	display: inline-block;
	vertical-align: top;

	span{
		float: left;
	}
}

.li-why {
	color: $color-medium-gray;
	margin: 0 0 50px;
	height: 49px;

	strong{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: $color-primary;
	}

	p{
	margin-top: 15px;
	font-size: 18px;
	color: $color-medium-gray;
	}
}