@mixin style-input{
	font-size: 18px;
	padding: 16px;
	border: 1px solid $color-light-gray;
	@include set-border-radius(5px);
}

@mixin set-border-radius($radius){
	border-radius: $radius;
}

%shadow{
	box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%border-radius{
	border-radius: 5px;
}
